<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Create Book</title>
</head>
<body>
    <div class="conteiner">
        <h1>Create a Pizza</h1>
        <hr>
        <form
            id="create pizza"
            method="post"
            th:object="${Pizza}"
            th:action="@{/Pizza/create}"
            class="row gy-3"
        >
            <div class="col-6">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" th:field="*{name}"
                       th:errorClass="is-invalid">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="col-6">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description" th:field="*{description}"
                       th:errorClass="is-invalid">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="col-6">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" type="text" id="price" th:field="*{price}"
                       th:errorClass="is-invalid">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="col-6">
                <label class="form-label" for="urlFoto">U4rl Foto</label>
                <input class="form-control" type="text" id="urlFoto" th:field="*{urlFoto}"
                       th:errorClass="is-invalid">
                <ul>
                    <li th:each="err : ${#fields.errors('urlFoto')}" th:text="${err}"></li>
                </ul>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>
</html>